<div class="js-thumbs-slider thumbs-slider-component" data-component="ThumbsSliderComponent">
	<div class="thumbs-slider-component__inner">
		<div class="owl-thumbs-slider-navigation">
		  <a class="js-thumbs-slider-prev prev left-icon"></a>
		  <a class="js-thumbs-slider-next next left-icon"></a>
		</div>
		<div class="owl-thumbs-slider-carousel">
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img2.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img2.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img1.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img2.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img1.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img2.jpg" alt="">
				</div>
			</div>
			<div class="owl-thumbs-slider-carousel__item">
				<div class="thumbs-slider__text">
					<h3>
						וילה בשכונת נאות לון
						<span>1,650,0000 ₪</span>
					</h3>
				</div>
				<div class="thumbs-slider__image">
					<span class="arrow-label">להשכרה</span>
					<img src="img/content/img3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
