<% include ../../components/global-head/global-head %>
<% include ../../components/main_header/main_header.ejs %>
<% include ../../components/main_menu/main_menu.ejs %>
<% include ../../components/thumbs_slider_component/thumbs_slider_component.ejs %>
<div class="inner-pages-global-container">
  <div style="height: 200px">
    <div class="js-property-popup-open" style="height: 20px; background: violet;">js-property-popup-open</div>
    <div class="js-signup-popup-open" style="height: 20px; background: yellow;">js-signup-popup-open</div>
    <div class="js-setting-popup-open" style="height: 20px; background: orange;">js-setting-popup-open</div>
    <div class="js-success-popup-open" style="height: 20px; background: green;">js-success-popup-open</div>
    <div class="js-apply-popup-open" style="height: 20px; background: blue;">js-apply-popup-open</div>
  </div>
  <% include ../../components/about_component/about_component.ejs %>
  <% include ../../components/success_stories_component/success_stories_component.ejs %>
  <% include ../../components/contact_agent_component/contact_agent_component.ejs %>
  <% include ../../components/resident_property_component/resident_property_component.ejs %>
  <% include ../../components/property_component/property_component.ejs %>
  <% include ../../components/blog_component/blog_component.ejs %>
  <% include ../../components/our_agents_component/our_agents_component.ejs %>
  <% include ../../components/career_component/career_component.ejs %>
  <% include ../../components/bottom_slider_component/bottom_slider_component.ejs %>
  <% include ../../components/property_popup_component/property_popup_component.ejs %>
  <% include ../../components/signup_popup_component/signup_popup_component.ejs %>
  <% include ../../components/setting_popup_component/setting_popup_component.ejs %>
  <% include ../../components/success_popup_component/success_popup_component.ejs %>
  <% include ../../components/apply_popup_component/apply_popup_component.ejs %>
</div>
<% include ../../components/footer_component/footer_component.ejs %>
<% include ../../components/global-foot/global-foot %>
