<div class="contact-agent-component" data-component="ContactAgentComponent">
	<div class="contact-agent-component__inner">
    <div class="contact-agent-component-content">

      <div class="contact-agent-component--info">
        <div class="contact-agent-component--agent-block">
          <h3 class="agent-title">
            מתן בן-חמו
            <span>קבוצת ארץ עיר</span>
            <a href="#" class="agent-fbook"></a>
          </h3>
          <img src="img/content/img-user1.jpg" class="agent-img" alt="">
          <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
          <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
        </div>
      </div>

      <form class="contact-agent-component--form">
        <h3 class="contact-agent-component--form---title">ןכוסה םע רשק רוצ</h3>
        <input type="text" class="contact-agent-component--input" placeholder="טקלא ראוד">
        <input type="text" class="contact-agent-component--input" placeholder="אלמ םש">
        <textarea class="contact-agent-component--txtarea" placeholder="תוכן ההודעה"></textarea>
        <button class="contact-agent-component--btn" name="button" type="button">שלח הודעה</button>
      </form>

    </div>
	</div>
</div>
