<div class="product-list-component" data-component="ProductListComponent">
	<div class="product-list-component__inner">
    <!-- <h1>נכסים בבלעדיות הסוכן</h1> -->
		<div class="product-list-item">
      <div class="js-product-list-item product-list-item__img">
        <a href="#"><img src="img/content/img1.jpg" alt=""></a>
        <div class="js-product-list-info product-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon"></a>
        </div>
      </div>
      <div class="product-list-item__text">
        <h3>
          <a href="#">
            דירת 4 חדרים ברמות
            <span>3,650 ₪</span>
          </a>
        </h3>
        <span class="arrow-label">להשכרה</span>
      </div>
    </div>
    <div class="product-list-item">
      <div class="js-product-list-item product-list-item__img">
        <a href="#"><img src="img/content/img3.jpg" alt=""></a>
        <div class="js-product-list-info product-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon"></a>
        </div>
      </div>
      <div class="product-list-item__text">
        <h3>
          <a href="#">
            דירת 4 חדרים ברמות
            <span>3,650 ₪</span>
          </a>
        </h3>
        <span class="arrow-label">להשכרה</span>
      </div>
    </div>
    <div class="product-list-item">
      <div class="js-product-list-item product-list-item__img">
        <a href="#"><img src="img/content/img2.jpg" alt=""></a>
        <div class="js-product-list-info product-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon"></a>
        </div>
      </div>
      <div class="product-list-item__text">
        <h3>
          <a href="#">
            דירת 4 חדרים ברמות
            <span>3,650 ₪</span>
          </a>
        </h3>
        <span class="arrow-label">להשכרה</span>
      </div>
    </div>
    <div class="product-list-item">
      <div class="js-product-list-item product-list-item__img">
        <a href="#"><img src="img/content/img1.jpg" alt=""></a>
        <div class="js-product-list-info product-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon"></a>
        </div>
      </div>
      <div class="product-list-item__text">
        <h3>
          <a href="#">
            דירת 4 חדרים ברמות
            <span>3,650 ₪</span>
          </a>
        </h3>
        <span class="arrow-label">להשכרה</span>
      </div>
    </div>
	</div>
</div>
