<% include ../../components/global-head/global-head %>
<% include ../../components/main_header/main_header.ejs %>
<% include ../../components/main_menu/main_menu.ejs %>
<% include ../../components/thumbs_slider_component/thumbs_slider_component.ejs %>
<div class="inner-pages-global-container">
  <% include ../../components/contact_agent_component/contact_agent_component.ejs %>
  <% include ../../components/product_list_component/product_list_component.ejs %>
</div>
<% include ../../components/footer_component/footer_component.ejs %>
<% include ../../components/global-foot/global-foot %>
