<div class="js-setting-popup setting-popup-component" data-component="SettingPopupComponent">
	<div class="setting-popup-component__inner">
    <div class="js-setting-close-popup-btn close-popup-btn close-x-ico2"></div>
		<div class="setting-popup-info-container">
      <div class="setting-popup-info-container--header">
        <h3>
          בוחרים העדפות
        </h3>
        <p>
          מסמנים את הפרטים שהייתם רוצים בנכס, וסיימנו
        </p>
      </div>
      <form  class="setting-popup-info-container--form" action="">
        <div class="setting-popup-select-block">
          <select class="js-setting-popup-select setting-popup-select">
            <option value="">שכונה</option>
            <option value="">שכונה 2</option>
            <option value="">שכונה 3</option>
          </select>
        </div>
        <div class="setting-popup-select-block">
          <select class="js-setting-popup-select setting-popup-select">
            <option value="">שכונה</option>
            <option value="">שכונה 2</option>
            <option value="">שכונה 3</option>
          </select>
        </div>
        <div class="setting-popup-select-block">
          <select class="js-setting-popup-select setting-popup-select">
            <option value="">שכונה</option>
            <option value="">שכונה 2</option>
            <option value="">שכונה 3</option>
          </select>
        </div>
        <div class="setting-popup-select-block">
          <select class="js-setting-popup-select setting-popup-select">
            <option value="">שכונה</option>
            <option value="">שכונה 2</option>
            <option value="">שכונה 3</option>
          </select>
        </div>
        <div class="setting-popup-select-block">
          <select class="js-setting-popup-select setting-popup-select">
            <option value="">שכונה</option>
            <option value="">שכונה 2</option>
            <option value="">שכונה 3</option>
          </select>
        </div>
        <button class="btn">
          שלח
        </button>
      </form>
		</div>
	</div>
</div>
