<div class="js-signup-popup signup-popup-component" data-component="SignupPopupComponent">
	<div class="signup-popup-component__inner">
    <div class="js-signup-close-popup-btn close-popup-btn close-x-ico2"></div>
		<div class="signup-popup-info-container">
      <div class="signup-popup-info-container--header">
        <h3>
          נרשמים
        </h3>
        <p>
          זה פשוט ומהיר, אנחנו מבטיחים <br> לא לעשות שימוש לרעהבמידע שתתנו לנו
        </p>
      </div>
      <form  class="signup-popup-info-container--form" action="">
        <div class="input-block">
          <input type="text" placeholder="אלמ םש">
          <input type="text" placeholder="לאוד">
          <input type="text" placeholder="דיינ ןופלט">
        </div>
        <button class="btn">
          הבא >>
        </button>
      </form>
		</div>
	</div>
</div>
