<div class="js-property-popup property-popup-component" data-component="PropertyPopupComponent">
	<div class="property-popup-component__inner">

    <div class="js-close-popup-btn close-popup-btn close-x-ico"></div>

		<div class="property-popup-slider-container">
			<div class="property-popup-slider-navigation">
			  <a class="js-property-popup-slider-prev prev left-icon"></a>
			  <a class="js-property-popup-slider-next next left-icon"></a>
			</div>
			<div class="property-popup-slider-carousel">
				<div class="owl-property-popup-slider-carousel__item">
					<div class="property-popup-slider__image">
						<img src="img/content/img1.jpg" alt="">
            <ul class="slider-control-button">
              <li><a href="#" class="turn-ico"></a></li>
              <li><a href="#" class="cam-ico"></a></li>
              <li><a href="#" class="lock-ico"></a></li>
            </ul>
					</div>
				</div>
				<div class="owl-property-popup-slider-carousel__item">
					<div class="property-popup-slider__image">
						<img src="img/content/img3.jpg" alt="">
            <ul class="slider-control-button">
              <li><a href="#" class="turn-ico"></a></li>
              <li><a href="#" class="cam-ico"></a></li>
              <li><a href="#" class="lock-ico"></a></li>
            </ul>
					</div>
				</div>
			</div>
		</div>

    <div class="property-popup-info-container">
      <div class="property-popup-info-container--text">
        <h3>
          באר שבע | שכונת רמות
        </h3>
        <p>
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסואלמנקום ניסי נון ניבאה. דס איאקו
        </p>
      </div>
      <div class="property-popup-info-container--text2">
        <ul class="property-popup-info-container--list">
          <li>סום הנכס: וילה</li>
          <li>ישוב: באר שבע</li>
          <li>שכונה: רמות</li>
          <li>מס' חדרים: 7</li>
          <li>גודל במ"ר: 450</li>
          <li>מחיר: 7,000000 ₪</li>
        </ul>
        <ul class="property-popup-info-container--list">
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-1" name="check" checked >
              <label for="checkbox-1-1"></label>
            </div>
            מרפסת שמש
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-2" name="check" >
              <label for="checkbox-1-2"></label>
            </div>
            חניה
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-3" name="check" >
              <label for="checkbox-1-3"></label>
            </div>
            מיזוג
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-4" name="check" >
              <label for="checkbox-1-4"></label>
            </div>
            ממ"ד
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-5" name="check" >
              <label for="checkbox-1-5"></label>
            </div>
            מעלית
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-6" name="check" >
              <label for="checkbox-1-6"></label>
            </div>
            מחסן
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-7" name="check" >
              <label for="checkbox-1-7"></label>
            </div>
            סורגים
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-8" name="check" >
              <label for="checkbox-1-8"></label>
            </div>
            ריהוט
          </li>
          <li>
            <div class="eir-checkbox-block">
              <input type="checkbox" value="None" id="checkbox-1-9" name="check" >
              <label for="checkbox-1-9"></label>
            </div>
            משופצת
          </li>
        </ul>
      </div>
    </div>

    <div class="property-popup-bottom-container">
      <div class="property-popup-bottom-container--user-help">
        <img src="img/content/img-user1.jpg" class="user-help-img" alt="">
        <a href="#" class="user-help-link">רוצה לקבל פרטים נוספים?</a>
      </div>
      <div class="property-popup-bottom-container--button-list">
        <button class="btn">שם מלא</button>
        <button class="btn">טלפון</button>
        <button class="btn">דוא"ל</button>
        <button class="btn btn-blue">שלח ></button>
      </div>
    </div>

	</div>
</div>
