<div class="career-component" data-component="CareerComponent">
	<div class="career-component__inner">

    <div class="career-component-img-block">
      <img src="img/content/img1.jpg" class="career-component-img" alt="">
    </div>
    <div class="career-component-title-block">
      <h1 class="career-component-title-block--title">בואו לעשות קריירה!</h1>
    </div>
    <div class="career-component-header-block">
      <div class="career-component-header-block--item">
        משרות פנויות >>
      </div>
      <div class="career-component-header-block--item">
        <div class="career-logo-block">
          <a href="#" class="main-logo">
            <span class="main-logo__text"></span>
          </a>
        </div>
      </div>
    </div>

    <dl class="js-accordion-container career-component-accordion">
      <dt class="js-accordion-pannel accordion-pannel">
        <div class="career-component-accordion--item"><a href="#">לצפייה בפרטי המשרה >></a></div>
        <div class="career-component-accordion--item"><a href="#">מזכיר/ה</a></div>
      </dt>
      <dd class="js-accordion-content accordion-content">
        <p>
          3 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </p>
      </dd>
      <dt class="js-accordion-pannel accordion-pannel">
        <div class="career-component-accordion--item"><a href="#">לצפייה בפרטי המשרה >></a></div>
        <div class="career-component-accordion--item"><a href="#">מזכיר/ה</a></div>
      </dt>
      <dd class="js-accordion-content accordion-content">
        <p>
          3 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. 3 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </p>
      </dd>
      <dt class="js-accordion-pannel accordion-pannel">
        <div class="career-component-accordion--item"><a href="#">לצפייה בפרטי המשרה >></a></div>
        <div class="career-component-accordion--item"><a href="#">מזכיר/ה</a></div>
      </dt>
      <dd class="js-accordion-content accordion-content">
        <p>
          3 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </p>
      </dd>
    </dl>

	</div>
</div>
