.main-header {

  @include box-sizing(border-box);
  @include full-width();
  @include cf;
  direction: rtl;
  position: absolute;
  background-image: url('../img/content/img-h1.jpg');
  background-size: cover;
  background-position: bottom;

  &:before {
    @include pseudo-content;
    @include full-width();
    position: absolute;
    height: 320px;
    background-color: $eir-gray-dark;
  }

  &__inner {
    @include contain-width();
    @include cf;
    position: relative;
    height: 320px;
  }

  &__content {
    position: absolute;
    padding: 0 35px;
    bottom: -5px;

    &--title {
      color: $eir-yellow;
    }
  }

}


// Tablet
@include breakpoint($bp-tablet) {
  .main-header {
    position: relative;

    &__content {
      padding: 0 0 0 0;
      bottom: 5px;
    }

  }
}


// Desktop
@include breakpoint($bp-desktop-and-up) {
  .main-header {
    position: relative;

    &__content {
      padding: 0 0 0 0;
      bottom: 5px;

      &--title {
        @include webfont(42px, $bold);
      }
    }

  }
}
