<% include ../../components/global-head/global-head %>
<% include ../../components/main_header/main_header.ejs %>
<% include ../../components/main_menu/main_menu.ejs %>
<div class="inner-pages-global-container" style="text-align: center;">
  <button class="js-property-popup-open" style="height: 40px; display:inline-block; padding: 10px; margin: 10px;  background: violet;">js-property-popup-open</button>
  <button class="js-signup-popup-open" style="height: 40px; display:inline-block; padding: 10px; margin: 10px;  background: yellow;">js-signup-popup-open</button>
  <button class="js-setting-popup-open" style="height: 40px; display:inline-block; padding: 10px; margin: 10px;  background: orange;">js-setting-popup-open</button>
  <button class="js-success-popup-open" style="height: 40px; display:inline-block; padding: 10px; margin: 10px;  background: green;">js-success-popup-open</button>
  <button class="js-apply-popup-open" style="height: 40px; display:inline-block; padding: 10px; margin: 10px;  background: blue;">js-apply-popup-open</button>
</div>
<% include ../../components/property_popup_component/property_popup_component.ejs %>
<% include ../../components/signup_popup_component/signup_popup_component.ejs %>
<% include ../../components/setting_popup_component/setting_popup_component.ejs %>
<% include ../../components/success_popup_component/success_popup_component.ejs %>
<% include ../../components/apply_popup_component/apply_popup_component.ejs %>
<% include ../../components/footer_component/footer_component.ejs %>
<% include ../../components/global-foot/global-foot %>
