<div class="main-header" data-component="MainHeader">
  <div class="main-header__inner">
    <div class="main-header__content">
      <h1 class="main-header__content--title">
        אודות
      </h1>
    </div>
  </div>
</div>
