<div class="property-component" data-component="PropertyComponent">
	<div class="property-component__inner">

		<div class="property-component__info">
      <div class="property-component__info--bg">
  			<div class="property-component__info--inner">
  				<h3>
  					דירת 5 חדרים בנווה זאב
  					<span>1,650,0000 ₪</span>
  				</h3>
  				<span class="info tab-ico">
            סוג העסקה<i>למכירה</i>
          </span>
  				<span class="info bedrooms-ico3">
            חדרי שינה<i>5</i>
          </span>
          <span class="info surface-ico3">
            שטח<i>140 מ"ר שטח בנוי</i>
          </span>
          <span class="info location-ico">
            מיקום<i>נאות לון</i>
          </span>
  			</div>
  			<div class="property-component__info--btn-block">
  				<button class="sign-btn btn" name="button" type="button">הוסף למועדפים<span class="star-icon2"></span></button>
  				<button class="sign-btn btn" name="button" type="button">שיתוף הנכס<span class="lock-icon"></span></button>
  			</div>
      </div>
		</div>

		<div class="property-slider-container">
			<div class="property-slider-navigation">
			  <a class="js-property-slider-prev prev left-icon"></a>
			  <a class="js-property-slider-next next left-icon"></a>
			</div>
			<div class="property-slider-carousel">
				<div class="owl-property-slider-carousel__item">
					<div class="property-slider__image">
						<img src="img/content/img1.jpg" alt="">
					</div>
				</div>
				<div class="owl-property-slider-carousel__item">
					<div class="property-slider__image">
						<img src="img/content/img3.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="property-component__content">
			<div class="property-component__content--user">
				<div class="property-component__content--user--agent-block">
          <h3 class="agent-title">
            מתן בן-חמו
            <span>קבוצת ארץ עיר</span>
            <a href="#" class="agent-fbook"></a>
          </h3>
          <img src="img/content/img-user1.jpg" class="agent-img" alt="">
          <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
          <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
          <div class="btn-block">
            <button class="btn" name="button" type="button">לעמוד הנכס</button>
          </div>
        </div>
			</div>
			<div class="property-component__content--text">
				<div class="property-component__content--text---block">
					<h3>פרטי הנכס</h3>
					<p>
						לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף מוסן מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
