<div class="bottom-slider-component" data-component="BottomSliderComponent">
	<div class="bottom-slider-component__inner">
		<div class="owl-bottom-slider-title">
			<h1>םינורחא םיסכנ</h1>
		</div>
		<div class="owl-bottom-slider-navigation">
		  <a class="js-bottom-slider-prev prev left-icon"></a>
		  <a class="js-bottom-slider-next next left-icon"></a>
		</div>
		<div class="owl-bottom-slider-carousel">
			<div class="owl-bottom-slider-carousel__item">
				<div class="bottom-slider__image">
					<a href class="star-icon"></a>
					<a href="#">
						<img src="img/content/img1.jpg" alt="">
					</a>
				</div>
				<div class="bottom-slider__text">
					<h3>
						<a href="#">
							דירת 1 חדרים בנווה זאב
							<span>הסוכן: מתן בן חמו</span>
						</a>
					</h3>
					<span class="arrow-label">להשכרה</span>
					<p>
						1 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
					</p>
				</div>
			</div>
			<div class="owl-bottom-slider-carousel__item">
				<div class="bottom-slider__image">
					<a href class="star-icon"></a>
					<a href="#">
						<img src="img/content/img2.jpg" alt="">
					</a>
				</div>
				<div class="bottom-slider__text">
					<h3>
						<a href="#">
							דירת 5 חדרים בנווה זאב
							<span>הסוכן: מתן בן חמו</span>
						</a>
					</h3>
					<span class="arrow-label">להשכרה</span>
					<p>
						2 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
					</p>
				</div>
			</div>
			<div class="owl-bottom-slider-carousel__item">
				<div class="bottom-slider__image">
					<a href class="star-icon"></a>
					<a href="#">
						<img src="img/content/img3.jpg" alt="">
					</a>
				</div>
				<div class="bottom-slider__text">
					<h3>
						<a href="#">
							דירת 5 חדרים בנווה זאב
							<span>הסוכן: מתן בן חמו</span>
						</a>
					</h3>
					<span class="arrow-label">להשכרה</span>
					<p>
						3 לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
