<div class="our-agents-component" data-component="OurAgentsComponent">
	<div class="our-agents-component__inner">

    <div class="our-agents-list-item">
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
            <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
      <div class="our-agents-list-item__info">
        <div class="center-y">
          <div class="our-agents-list-item__agent-block">
            <h3 class="agent-title">
              מתן בן-חמו
              <span>קבוצת ארץ עיר</span>
              <a href="#" class="agent-fbook"></a>
            </h3>
            <img src="img/content/img-user1.jpg" class="agent-img" alt="">
            <a href="#" class="agent-phone">נייד: 50-222-2504​0</a>
            <a href="#" class="agent-location">כתובת: חלקיקי האור 16, באר-שבע</a>
            <div class="btn-block">
              <button class="btn" name="button" type="button">לעמוד הנכס</button>
            </div>
          </div>
        </div>
      </div>
    </div>

	</div>
</div>
