<div class="product-table-component" data-component="ProductTableComponent">
	<div class="product-table-component__inner">

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img2.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img1.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img1.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img3.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img1.jpg" alt="">
        </a>
      </div>
    </div>

    <div class="product-table-item">
      <div class="product-table-item__text">
        <div class="center-y">
          <div class="col">
            <h3>
              <a href="#">
                דירת 4 חדרים ברמות
                <span>1,650,0000 ₪</span>
              </a>
            </h3>
            <span class="arrow-label">להשכרה</span>
          </div>
          <div class="col">
            <span class="info bedrooms-ico">
              חדרי שינה<i>5</i>
            </span>
            <span class="info surface-ico">
              שטח<i>140 מ"ר שטח בנוי</i>
            </span>
          </div>
        </div>
      </div>
      <div class="product-table-item__img">
        <a href="#">
          <img src="img/content/img3.jpg" alt="">
        </a>
      </div>
    </div>

	</div>
</div>
