<div class="contact-us-component" data-component="ContactUsComponent">
	<div class="contact-us-component__inner">
    <div class="contact-us-component-content">
      <div class="contact-us-component-info">
        <div class="contact-us-component-content__inner">
          <h3 class="contact-us-component-info---title">כתובת</h3>
          <ul class="contact-us-component-info---list">
            <li><a href="#" class="contact-us-location">חלקיקי האור 16, באר-שבע</a></li>
            <li><a href="#" class="contact-us-phone">077-670-5959</a></li>
            <li><a href="#" class="contact-us-email">eretz-ir.co.il</a></li>
          </ul>
          <h3 class="contact-us-component-info---title">שעות פעילות</h3>
          <ul class="contact-us-component-info---list">
            <li><a href="#" class="contact-us-time">ראשון-חמישי : 08:00-20:00</a></li>
            <li><a href="#" class="contact-us-time">שישי : 08:00-13:00</a></li>
          </ul>
        </div>
      </div>
      <form class="contact-us-component--form">
        <div class="contact-us-component-content__inner">
          <h3 class="contact-us-component--form---title">בואו נדבר על נדל"ן</h3>
          <input type="text" class="contact-us-component--input" placeholder="שם מלא">
          <input type="text" class="contact-us-component--input" placeholder="דואר אלקטרוני">
          <input type="text" class="contact-us-component--input" placeholder="מספר טלפון">
          <textarea class="contact-us-component--txtarea" placeholder="רק על עצמי לספר ידעתי..."></textarea>
          <button class="contact-us-component--btn" name="button" type="button">הגישו מועמדות </button>
        </div>
      </form>
    </div>
	</div>
</div>
