<div class="main-menu-component" data-component="MainMenu">
  <div class="main-menu-component__inner">
    <div class="main-logo-block">
      <div class="js-main-menu-burger main-menu-burger menu-burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="main-logo">
        <a class="main-logo__img" href="/"></a>
        <a class="main-logo__text" href="/"></a>
      </div>
    </div>
    <div class="main-menu-info">
      <nav class="js-main-menu-nav main-menu-nav">
        <ul>
          <li class="main-menu-nav__item"><a href="#" class="js-success-popup-open">אודות</a></li>
          <li class="main-menu-nav__item"><a href="#">נכסים למגורים</a></li>
          <li class="main-menu-nav__item"><a href="#">נכסים להשקעה</a></li>
          <li class="main-menu-nav__item"><a href="#" class="active js-setting-popup-open">סוכנים</a></li>
          <li class="main-menu-nav__item"><a href="#">בלוג</a></li>
          <li class="main-menu-nav__item"><a href="#">קריירה</a></li>
          <li class="main-menu-nav__item"><a href="#">סיפורי הצלחה</a></li>
          <li class="main-menu-nav__item"><a href="#">צור קשר</a></li>
        </ul>
      </nav>
      <div class="search-block">
        <div class="col">
          <div class="main-menu-select-block">
            <select class="js-main-menu-select main-menu-select">
              <option value="">עיר</option>
              <option value="">עיר 2</option>
              <option value="">עיר 3</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="main-menu-select-block">
            <select class="js-main-menu-select main-menu-select">
              <option value="">שכונה</option>
              <option value="">שכונה 2</option>
              <option value="">שכונה 3</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="main-menu-select-block">
            <select class="js-main-menu-select main-menu-select">
              <option value="">חדרים</option>
              <option value="">חדרים 2</option>
              <option value="">חדרים 3</option>
            </select>
          </div>
        </div>
        <div class="col">
          <button class="search-btn" name="button" type="button">חפש<span class="zoom-ico"></span></button>
        </div>
        <div class="col">
          <a href="" class="phone">077-670-5959<span class="phone-ico"></span></a>
        </div>
        <div class="col">
          <button class="js-signup-popup-open sign-btn" name="button" type="button">הרשמה לעדכונים<span class="person-ico2"></span></button>
        </div>
        <div class="col">
          <button class="js-add-btn add-btn" name="button" type="button">נכסים שאהבתי<span class="star-ico3"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
