<div class="js-apply-popup apply-popup-component" data-component="ApplyPopupComponent">
	<div class="apply-popup-component__inner">

    <div class="js-close-apply-popup-btn close-popup-btn close-x-ico"></div>

		<div class="apply-popup-info-container">
      <div class="apply-popup-info-container--header">
        <h1>
          סוכן נדל"ן
        </h1>
      </div>
      <div class="apply-popup-info-container--text">
        <p>
          דרוש/ה סוכן נדל"ן עם רעב להצלחה, ויכולת מכירה <br>גבוהה<br>בלה בלה בלה בלה בלה בלה בלה
        </p>
        <h3>
          דרישות התפקיד
        </h3>
        <ul class="apply-popup--list">
          <li>- רישיון תיווך בתוקף</li>
          <li>- יכולות מכירה מוכחות</li>
          <li>- מוסר עבודה גבוה</li>
          <li>- ניידות</li>
        </ul>
      </div>
      <div class="apply-popup-info-container--form">
        <input type="text" class="apply-popup-info-container--form--input" placeholder="שם מלא">
        <input type="text" class="apply-popup-info-container--form--input" placeholder="דואר אלקטרוני">
        <input type="text" class="apply-popup-info-container--form--input" placeholder="מספר טלפון">
        <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" data-multiple-caption="{count} קבצים שנבחרו" multiple />
        <label for="file-3">
          <span>קורות חיים &hellip;</span>
        </label>
        <textarea class="apply-popup-info-container--form--txtarea" placeholder="תוכן"></textarea>
        <button class="apply-popup-info-container--form--btn" name="button" type="button">שלח הודעה</button>
      </div>
		</div>

	</div>
</div>
