<footer class="footer-section">
    <div class="footer-section__inner">
      <div class="footer-copyrt">
        <a href="#" class="main-logo">
          <span class="main-logo__text"></span>
        </a>
        &copy; 2016 - כל הזכויות שמורות לקבוצת ארץ עיר<br>
         עוצב על ידי <img class="footer-copyrt__image" src="img/copyrt-img.svg" alt="">
      </div>
      <div class="footer-navigation">
        <div class="footer-navigation__inner">
          <h3 class="footer-title">מיקומים</h3>
          <ul class="footer-list">
            <li>
              <a href="#">נאות לון (8)</a>
            </li>
            <li>
              <a href="#">נווה זאב (6)</a>
            </li>
            <li>
              <a href="#">רמות (6)</a>
            </li>
            <li>
              <a href="#">שכונה ד' (4)</a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation__inner">
          <h3 class="footer-title">נכסים אחרונים</h3>
          <ul class="footer-list">
            <li>
              <a href="#">דירת 5 חדרים בנווה זאב</a>
            </li>
            <li>
              <a href="#">דופלקס 4 חדרים ברמות</a>
            </li>
            <li>
              <a href="#">דירת גן בשכונה א'</a>
            </li>
            <li>
              <a href="#">וילה בנאות לון</a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation__inner">
          <h3 class="footer-title">אפשרויות</h3>
          <ul class="footer-list">
            <li>
              <a href="#">למכירה (64)</a>
            </li>
            <li>
              <a href="#">להשכרה (14)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-social">
        <h3 class="footer-title">ארץ עיר בדיגיטל</h3>
        <a href="#" class="footer-youtube"></a>
        <a href="#"  class="footer-fbook"></a>
      </div>
    </div>
</footer>
