<div class="resident-property-component" data-component="ResidentPropertyComponent">
	<div class="resident-property-component__inner">
    <div class="resident-property-component__header">
      <div class="resident-property-select-block">
        <select class="js-resident-property-select">
          <option value="">סנן נכסים לפי</option>
          <option value="">סנן נכסים לפי 2</option>
          <option value="">סנן נכסים לפי 3</option>
        </select>
      </div>
      <ul class="resident-property-breadcrumbs">
        <li class="resident-property-breadcrumbs__item"><a href="#">ראשי</a></li>
        <li class="resident-property-breadcrumbs__item"><a href="#">נכסים למגורים</a></li>
      </ul>
    </div>
    <div class="resident-property-list-item">
      <div class="js-resident-property-list-item resident-property-list-item__img">
        <img src="img/content/img3.jpg" alt="">
        <div class="js-resident-property-list-info resident-property-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon js-property-popup-open"></a>
        </div>
      </div>
      <div class="resident-property-list-item__about">
        <div class="center-y">
          <h2>
            דירה בנווה זאב
          </h2>
          <span class="arrow-label">להשכרה</span>
          <div class="info bedrooms-ico">
            חדרי שינה<i>5</i>
          </div>
          <div class="info surface-ico">
            שטח<i>140 מ"ר שטח בנוי</i>
          </div>
          <div class="info info-img">
            <div>
              <img src="img/content/img-user1.jpg" alt="">
            </div>
            לסוכן<i>מתן בן-חמו</i>
          </div>
        </div>
      </div>
      <div class="resident-property-list-item__info">
        <div class="center-y">
          <h2>
            בפרוייקט היוקרתי
          </h2>
          <p>
            גנגלוס על המים, דירת 5 חדרים המשקיפה לנוף מרהיב, מרפסת שמש ו-3 כיווני אוויר.
          </p>
          <p>
            מחיר
          </p>
          <h2>
            1,650,0000 ₪
          </h2>
          <div class="btn-block">
            <button class="btn js-apply-popup-open" name="button" type="button">לעמוד הנכס</button>
          </div>
        </div>
      </div>
    </div>

    <div class="resident-property-list-item">
      <div class="js-resident-property-list-item resident-property-list-item__img">
        <img src="img/content/img1.jpg" alt="">
        <div class="js-resident-property-list-info resident-property-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon js-property-popup-open"></a>
        </div>
      </div>
      <div class="resident-property-list-item__about">
        <div class="center-y">
          <h2>
            דירה בנווה זאב
          </h2>
          <span class="arrow-label">להשכרה</span>
          <div class="info bedrooms-ico">
            חדרי שינה<i>5</i>
          </div>
          <div class="info surface-ico">
            שטח<i>140 מ"ר שטח בנוי</i>
          </div>
          <div class="info info-img">
            <div>
              <img src="img/content/img-user1.jpg" alt="">
            </div>
            לסוכן<i>מתן בן-חמו</i>
          </div>
        </div>
      </div>
      <div class="resident-property-list-item__info">
        <div class="center-y">
          <h2>
            בפרוייקט היוקרתי
          </h2>
          <p>
            גנגלוס על המים, דירת 5 חדרים המשקיפה לנוף מרהיב, מרפסת שמש ו-3 כיווני אוויר.
          </p>
          <p>
            מחיר
          </p>
          <h2>
            1,650,0000 ₪
          </h2>
          <div class="btn-block">
            <button class="btn" name="button" type="button">לעמוד הנכס</button>
          </div>
        </div>
      </div>
    </div>

    <div class="resident-property-list-item">
      <div class="js-resident-property-list-item resident-property-list-item__img">
        <img src="img/content/img1.jpg" alt="">
        <div class="js-resident-property-list-info resident-property-list-info">
          <a href="#" class="star-icon2"></a>
          <a href="#" class="lock-icon js-property-popup-open"></a>
        </div>
      </div>
      <div class="resident-property-list-item__about">
        <div class="center-y">
          <h2>
            דירה בנווה זאב
          </h2>
          <span class="arrow-label">להשכרה</span>
          <div class="info bedrooms-ico">
            חדרי שינה<i>5</i>
          </div>
          <div class="info surface-ico">
            שטח<i>140 מ"ר שטח בנוי</i>
          </div>
          <div class="info info-img">
            <div>
              <img src="img/content/img-user1.jpg" alt="">
            </div>
            לסוכן<i>מתן בן-חמו</i>
          </div>
        </div>
      </div>
      <div class="resident-property-list-item__info">
        <div class="center-y">
          <h2>
            רמות בן-חמו
          </h2>
          <p>
            דופלקס יוקרתי 4 חדרים 2 מרפסות, יחידת הורים גדולה המון אור וצל.
          </p>
          <p>
            מחיר
          </p>
          <h2>
            1,320,0000 ₪
          </h2>
          <div class="btn-block">
            <button class="btn" name="button" type="button">לעמוד הנכס</button>
          </div>
        </div>
      </div>
    </div>

	</div>
</div>
