<div class="js-success-popup success-popup-component" data-component="SuccessPopupComponent">
	<div class="success-popup-component__inner">
    <div class="js-success-close-popup-btn close-popup-btn close-x-ico2"></div>
		<div class="success-popup-info-container">
      <div class="success-popup-info-container--header">
        <h3>
          סיימנו
        </h3>
        <p>
          הפרטים שלך הועברו בהצלחה!
        </p>
      </div>
      <div class="success-popup-info-container--text">
        <p>
          מעכשיו, תקבל התראות לכתובת הדוא"ל בכל<br>
          שיעלה לאתר שלנו נכס המתאים <br>לפרופיל שהזנת.
        </p>
        <p>
          תודה רבה :)
        </p>
      </div>
		</div>
	</div>
</div>
