<div class="top-slider-component" data-component="TopSliderComponent">
	<div class="top-slider-component__inner">
		<div class="owl-top-slider-navigation">
		  <a class="js-top-slider-prev prev left-icon"></a>
		  <a class="js-top-slider-next next left-icon"></a>
		</div>
		<div class="owl-top-slider-carousel">
			<div class="owl-top-slider-carousel__item">
				<div class="top-slider__image">
					<a href="#"><img src="img/content/img1.jpg" alt=""></a>
				</div>
				<div class="top-slider__text">
					<div class="name">
						<h3>
							דירת 5 חדרים בנווה זאב
							<span>1,650,0000 ₪</span>
						</h3>
						<span class="arrow-label">להשכרה</span>
					</div>
					<div class="info">
						<div class="info__item bedrooms-ico2">
							<h3>
								חrטש
								<span>230 יונב חטש</span>
							</h3>
						</div>
						<div class="info__item shower-ico">
							<h3>
								היטבמא ירדח
								<span>3</span>
							</h3>
						</div>
						<div class="info__item surface-ico2">
							<h3>
								הניש ירדח
								<span>6</span>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-top-slider-carousel__item">
				<div class="top-slider__image">
					<a href="#"><img src="img/content/img2.jpg" alt=""></a>
				</div>
				<div class="top-slider__text">
					<div class="name">
						<h3>
							דירת 5 חדרים בנווה זאב
							<span>2,150,0000 ₪</span>
						</h3>
						<span class="arrow-label">להשכרה</span>
					</div>
					<div class="info">
						<div class="info__item bedrooms-ico2">
							<h3>
								חrטש
								<span>230 יונב חטש</span>
							</h3>
						</div>
						<div class="info__item shower-ico">
							<h3>
								היטבמא ירדח
								<span>13</span>
							</h3>
						</div>
						<div class="info__item surface-ico2">
							<h3>
								הניש ירדח
								<span>6</span>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-top-slider-carousel__item">
				<div class="top-slider__image">
					<a href="#"><img src="img/content/img3.jpg" alt=""></a>
				</div>
				<div class="top-slider__text">
					<div class="name">
						<h3>
							דירת 5 חדרים בנווה זאב
							<span>10,0000 ₪</span>
						</h3>
						<span class="arrow-label">להשכרה</span>
					</div>
					<div class="info">
						<div class="info__item bedrooms-ico2">
							<h3>
								חrטש
								<span>230 יונב חטש</span>
							</h3>
						</div>
						<div class="info__item shower-ico">
							<h3>
								היטבמא ירדח
								<span>123</span>
							</h3>
						</div>
						<div class="info__item surface-ico2">
							<h3>
								הניש ירדח
								<span>600</span>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
