<div class="begin-component" data-component="BeginComponent">
	<div class="begin-component__inner">
    <div class="begin-component-content">
      <h1>ברוכים הבאים</h1>
      <h2>קבלו התראות על הנכסים שאתם אוהבים</h2>
      <div class="begin-component-list">
        <div class="begin-component-item person-ico">
          <h2>סיימנו</h2>
          <p>
            מעתה והלאה, בכל פעם שיעלה לאתר נכס אשר מתאים לפרופיל שמילאתם, אנחנו נדאג לעדכן אתכם על כך!
          </p>
        </div>
        <div class="begin-component-item list-ico">
          <h2>תופדעה םירחוב</h2>
          <p>
            מסמנים את הפרטים שהייתם רוצים בנכס, כמו איזור, כמות חדרים, גודל ומחיר
          </p>
        </div>
        <div class="begin-component-item check-ico">
          <h2>ונמייס</h2>
          <p>
            מעתה והלאה, בכל פעם שיעלה לאתר נכס אשר מתאים לפרופיל שמילאתם, אנחנו נדאג לעדכן אתכם על כך!
          </p>
        </div>
      </div>
      <div class="btn-block">
        <button class="begin-component-btn" name="button" type="button">בואו נתחיל!</button>
      </div>
    </div>
	</div>
</div>
